* {
text-decoration: none;
margin: 0;
padding: 0;
}

/* cabeçalho */
.logo {
    width: 150px;
}

:root {
    --cabeçalho: #ffffff;
    --titulo: #02321a;
    --subtitulo: #02321a;
    --cinza: #fafafa;
    --verde: #89cc86;
    --verde1: #154734;
    --branco: white;
    --preto: black;
    --botao1:  #006734;
    --botao2: #8fbf13;
    --rodape:  #02321a;
}

header {
    background-color: var(--cabeçalho);
    display: flex;
    gap: 30px;
}

nav {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.home {
    color: var(--titulo);
    font-weight: bold;
    font-size: larger;
}

.mais {
    color: var(--titulo);
    font-weight: bold;
    font-size: larger;
}

.contato {
    color: var(--titulo);
    font-weight: bold;
    font-size: larger;
}
/* fim do cabeçalho */
.h11 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* início do rodapé */
.sectionII {
    background-color: #16567f;
    display: flex;
    justify-content: space-between;
}

.info-rodape {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--branco);
    padding: 30px;
}

.p2 {
    color: var(--branco);
    padding-left: 30px;
    font-size: larger;
}

.img2 {
    width: 200px;
    padding-left: 20px;
}

.siga {
    justify-self: flex-end;
    padding-right: 30px;
}

.sig {
    text-align: end;
}

.face {
    width: 50px;
}

.twitter {
    width: 65px;
}

.linkedin {
    width: 70px;
}

.insta {
    width: 70px;
}

.you {
    width: 80px;
}

.img3 {
    width: 200px;
    padding-left: 160px;
}

.direitos {
    background-color: #02223b;
}

.p3 {
    text-align: center;
    color: var(--branco);
    font-size: larger;
    padding: 30px;
}

.sectionn {
    display: flex;
    justify-content: center;
}
/* fim do rodapé */





.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
  }

  .coolinput label.text {
    font-size: 0.75rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #e8eaeb;
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #e8eaeb;
  }

  .coolinput input[type=text].input:focus {
    outline: none;
  }



  .botcal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(45, 170, 207);
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }

  .botcal:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #d21e19;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }

  .botcal:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  .botcal span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #000000;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }

  .botcal:hover span {
    color: #ffffff;
    animation: scaleUp 0.3s ease-in-out;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }


/* início do rodapé */
.sectionII {
    background-color: #16567f;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--branco);
    padding: 30px;
}

.p2 {
    color: var(--branco);
    padding-left: 30px;
    font-size: larger;
}

.img2 {
    width: 200px;
    padding-left: 20px;
}

.siga {
    justify-self: flex-end;
    padding-right: 30px;
}

.sig {
    text-align: end;
}

.face {
    width: 50px;
}

.twitter {
    width: 65px;
}

.linkedin {
    width: 70px;
}

.insta {
    width: 70px;
}

.you {
    width: 80px;
}

.img3 {
    width: 200px;
    padding-left: 160px;
}

.direitos {
    background-color: #02223b;
}

.p3 {
    text-align: center;
    color: var(--branco);
    font-size: larger;
    padding: 30px;
}

.sectionn {
    display: flex;
    justify-content: center;
}
/* fim do rodapé */

/* Responsividade */
@media (max-width: 320px) {
    .banner {
        width: 800px
    }
    nav {
        display: flex;
        justify-content: center;
    }
    .t1 {
        text-align:center
    }
    p {
        padding-left: 50px;
        padding-right: -300px;
    }
}

body {
    background-color: #e8eaeb;
}