<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Define o conjunto de caracteres como UTF-8 para suportar caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a escala inicial e a largura da visualização para dispositivos móveis -->
    <title>Adicionar Cadastro</title> <!-- Define o título da página -->
    <link rel="stylesheet" href="/static/css/coisa.css">
</head>
<body>
    <!-- Início do Cabeçalho -->
    <header>
        <!-- imagem -->
        <img class="logo" src="static/img/logo.png" alt="Logo da clínica Dog Dodói">
        <nav>
            <!-- botões -->
            <div>
                <a href="/" class="home">
                HOME >
            </a>
            </div>
            <div>
                <a href="/agenda" class="página de contato">
                    CONTATO >
                </a>
            </div>
            <div>
                <a href="/mais" class="mais">
                    MAIS >
                </a>
            </div>
        </nav>
    </header>
    <!-- fim do cabeçalho -->
    <br>
    <h1 class="h11">Inserção de Pacientes</h1> <!-- Título principal da página -->
    <br><br>
    <center>
        <form action="/adicionar_contato" method="POST"> <!-- Formulário para adicionar um novo contato. O 'action' indica para onde os dados do formulário serão enviados e o 'method' indica o método HTTP usado (neste caso, POST) -->
            <div class="coolinput">
                <label for="nome" class="text">Nome do Animal:</label>
                <input type="text" placeholder="Digite aqui" id="especie" name="nome" class="input">
            </div>
            <div class="coolinput">
                <label for="especie" class="text">Espécie do Animal:</label>
                <input type="text" placeholder="Digite aqui" id="nome" name="especie" class="input">
            </div>
            <div class="coolinput">
                <label for="raca" class="text">Raça do Animal:</label>
                <input type="text" placeholder="Digite aqui" id="raca" name="raca" class="input">
            </div>
            <div class="coolinput">
                <label for="peso" class="text">Peso do Animal:</label>
                <input type="text" placeholder="Digite aqui" id="peso" name="peso" step="0.1" class="input">
            </div>
            <div class="coolinput">
                <label for="nometutor" class="text">Nome do Tutor:</label>
                <input type="text" placeholder="Digite aqui" id="nometutor" name="nometutor" class="input">
            </div>
            <div class="coolinput">
                <label for="telefone" class="text">Telefone:</label>
                <input type="text" placeholder="Digite aqui" id="telefone" name="telefone" class="input">
            </div>
            <br><br>
            <button class="botcal" type="submit" value="Adicionar"><span>Adicionar</span></button><br><br>
        </form>
    </center>
</body>
   <!-- início do rodapé -->
<footer>
    <section class="sectionII">
        <div>
            <!-- endereço -->
            <h2 class="end">Endereço</h2>
        <p class="p2"> R. Nove de Julho, 1704 - Centro, São Carlos - SP, 13560-042</p>
        <!-- telefone -->
        <h2>Telefone</h2>
        <p class="p2">(16) 99232-6072</p>
        <!-- avaliações -->
        <h2>Avaliações</h2>
        <img class="img2" src="static/img/avaliacao.png" alt="avaliações de quatro estrelas e meia">
        </div>

        <!-- redes sociais -->
        <div class="siga">
            <h2 class="sig">Siga-nos</h2>
            <a href="https://www.facebook.com/campaign/landing.php?&campaign_id=1661784632&extra_1=s|c|320269324053|e|facebook|&placement=&creative=320269324053&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1661784632%26adgroupid%3D63686352403%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D9100673%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gad_source=1&gclid=Cj0KCQjwltKxBhDMARIsAG8KnqUr_a6fDs4EVBT7Kr6jePjJvocKkLFNB8TUQBr5DBzAdXYSshUPWXYaAoYDEALw_wcB">
               <img class="face" src="static/img/facebook.png" alt="facebook">
            </a>
            <a href="https://twitter.com/login?lang=pt">
              <img class="twitter" src="static/img/twitter.png" alt="twitter">
            </a>
            <a href="https://br.linkedin.com/">
                <img class="linkedin" src="static/img/linkedin.png" alt="linkedin">
            </a>
            <a href="https://www.instagram.com/">
               <img class="insta" src="static/img/instagram.png" alt="instagram">
            </a>
            <a href="https://www.youtube.com/">
                <img class="you" src="static/img/youtube.png" alt="youtube">
            </a>
            <br />
            <!-- logo -->
            <img class="img3" src="static/img/logorodape.png" alt="Clínica de nutrição">
        </div>
    </section>
        <!-- copyright -->
    <section class="direitos">
        <p class="p3">© 2024. Todos os direitos reservados.</p>
    </section>
</footer>
    <!-- fim do rodapé -->
</html>