<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylee.css">
    <title>Site Dog Dodói</title>
</head>
<body>
    <!-- Início do Cabeçalho -->
    <header>
        <!-- imagem -->
        <img class="logo" src="static/img/logo.png" alt="Logo da clínica Dog Dodói">
        <nav>
            <!-- botões -->
            <div>
                <a href="/" class="home">
                HOME >
            </a>
            </div>
            <div>
                <a href="/agenda" class="página de contato">
                    CONTATO >
                </a>
            </div>
            <div>
                <a href="/mais" class="Mais">
                    MAIS > 
                </a> 
            </div>
        </nav>
    </header>
    <!-- fim do cabeçalho -->

<!-- imagem -->
<img class="banner" width="1300" src="static/img/dogdodoi.jpg" alt="Dog Dodói, a melhor amiga do seu pet">

<br>

<center>
<img class="t1" src="static/img/quemsomos.png" alt="Quem somos nós">
</center>

<br>

<!-- texto -->
<p>Desde o nosso início, há 13 anos atrás, na Dog Dodói temos nos dedicado
     incansavelmente ao <span>cuidado e bem-estar</span> dos seus animais de estimação.
    Nossa jornada começou com um objetivo simples: oferecer um lugar onde
    os pets pudessem receber cuidados de <span>qualidade</span>, cercados de carinho 
    e atenção.</p>
    
    <br>

<p>Ao longo dos anos, crescemos e evoluímos, mantendo sempre nosso <span>compromisso</span> inabalável
    com a <span>saúde e felicidade</span> dos seus melhores amigos. Nossa clínica se tornou um ponto
     de <span>referência</span> na comunidade, não apenas pela <span>excelência</span> dos nossos serviços veterinários,
     mas também pelo <span>vínculo</span> que criamos com cada cliente e seu pet.</p>

    <br>

<p>Na Dog Dodói, não vemos apenas animais de estimação; vemos membros da <span>família</span>.
    É por isso que tratamos cada paciente com o mesmo <span>amor</span> e respeito.
     Entendemos que cada animal é único, com suas próprias
    necessidades e personalidade, e é por isso que um dos nossos primeiros e maiores 
    objetivos foi, não somente a <span>humanização</span>, mas a <span>personalização no atendimento</span>
     de cada paciente de acordo com suas carências e particularidades atuais.</p>

    <br>

<!-- imagem -->
<center>
<img class="vets" width="550" src="static/img/vets.jpg" alt="fotos de veterinários">
</center>

    <br> <br>

    <!-- texto -->
<p>Nossa equipe é composta por profissionais apaixonados e altamente <span>capacitados</span>,
     que estão regularmente submetidos a processos de aprendizado e atualização
     para <span>aperfeiçoamento</span>, assim podendo oferecer os <span>melhores tratamentos</span> e 
     soluções para os seus pets.</p>

     <br>

<p>Se você chegou até o final desta leitura, sei que não está em busca de qualquer clínica
    para o seu melhor amigo. Por isso, é importante que você saiba que além de tudo, nossos
    espaços contam com a mais <span>alta tecnologia veterinária</span> do mercado, não apenas com relação 
    a <span>técnicas</span> (como cinoterapia, calmantes naturais, uso de estímulos etc.), mas também
    quanto a <span>equipamentos de qualidade</span>, que proporcionam um nível muito maior de conforto
    e precisão de resultados. Veja abaixo a foto de alguns de nossos espaços:</p>

    <br> <br> <br>

<!-- imagem -->
<img class="clinica2" width="500" src="static/img/clinica2.jpg" alt="foto da recepção da clínica">

<!-- imagem -->
<img class="clinica" width="550" src="static/img/clinica.jpg" alt="foto da recepção da sala de cirurgia da clínica">

<br> <br> <br>

<!-- texto -->
<p>A <span>Dog Dodói</span> está completamente preparada para te atender em qualquer ocasião. 
   Somos uma clínica que está, há anos, inovando em métodos e aperfeiçoando técnicas para que o
    eu <span>companheiro de vida</span> receba o melhor resultado, com o melhor conforto e o 
    tratamento mais humanizado possível. Além disso, conosco, você poderá dar a ele melhor
    qualidade de vida, com <span>cuidados preventivos</span> espalhados por todo o nosso leque
    de ofícios.</p>

<br> <br>

<div class="servicos">
<!-- imagem -->
<center>
    <img class="t2" src="static/img/servicos.png" alt="Nossos serviços">
</center>
</div>

<br>
<!-- texto -->
<p>Desde consultas de rotina até procedimentos cirúrgicos complexos, estamos aqui para oferecer
    o mais <span>alto padrão</span> de cuidado veterinário, usando <span>tecnologia de ponta</span> e práticas baseadas
   em evidências. Além dos serviços veterinários, também oferecemos uma gama de serviços de
   bem-estar, incluindo banho e tosa. Queremos que seu pet se sinta em casa
   sempre que estiver conosco, e faremos tudo ao nosso alcance para garantir que eles
    tenham uma experiência positiva em nossa clínica. Confira abaixo alguns de nossos serviços:</p>

<br> <br> <br>

<!-- início da seção 1 -->
<section class="cards">
<!-- cartão 1 de serviços -->
<center>
<div class="card" width="200">
    <p class="card-title">Cuidados Preventivos</p>
    <p class="small-desc">Orientação sobre cuidados preventivos,
         como controle de pulgas e carrapatos, desparasitação e
         orientações sobre alimentação e exercício.
    </p>
    <div class="go-corner" width="200">
      <div class="go-arrow" width="200">→</div>
    </div>
  </div>
</center>

<!-- cartão 2 de serviços -->
<center>
    <div class="card" width="200">
        <p class="card-title">Exames Laboratoriais</p>
        <p class="small-desc">Análises de sangue, urina, fezes e outros
             testes laboratoriais para diagnosticar doenças e monitorar
             a saúde do animal.
        </p>
        <div class="go-corner" width="200">
          <div class="go-arrow" width="200">→</div>
        </div>
    </div>
</center>
<!-- fim do cartão 2 de serviços -->

<!-- cartão 3 de serviços -->
<center>
    <div class="card" width="200">
        <p class="card-title">Tratamento de Doenças</p>
        <p class="small-desc">Diagnóstico e tratamento de uma ampla série de
             doenças, incluindo problemas dermatológicos, gastrointestinais,
             cardíacos, psicológicos entre outros.</p>
        <div class="go-corner" width="200">
          <div class="go-arrow" width="200">→</div>
        </div>
    </div>
</center>
<!-- fim do cartão 3 de serviços -->
</section>
<!-- fim da seção 1 -->

<!-- início da seção 2 -->
<section class="cards">
    <!-- cartão 4 de serviços -->
    <center>
    <div class="card" width="200">
        <p class="card-title">Atendimento Emergencial</p>
        <p class="small-desc">Disponibilidade para casos de emergência, como lesões graves,
             envenenamento ou problemas respiratórios. Nossa clínica oferece plantão de 
             médicos veterinários 24 horas. 
        </p>
        <div class="go-corner" width="200">
          <div class="go-arrow" width="200">→</div>
        </div>
      </div>
    </center>
    <!-- fim do cartão 4 de serviços -->

    <!-- cartão 5 de serviços -->
    <center>
        <div class="cardtop" width="200">
            <p class="card-title">Cirurgias</p>
            <p class="small-desc">Realizamos cirurgias, desde esterilizações/castrações
             até procedimentos mais complexos, como cirurgias ortopédicas, dentárias, urológicas,
            de emergência entre outras.</p>
            <div class="go-corner" width="200">
              <div class="go-arrow" width="200">→</div>
            </div>
        </div>
    </center>
    <!-- fim do cartão 5 de serviços -->
    
    <!-- cartão 6 de serviços -->
    <center>
        <div class="card" width="200">
            <p class="card-title">Fisioterapia & Reabilitação</p>
            <p class="small-desc">Oferta de serviços de fisioterapia e reabilitação para
                 animais que passaram por cirurgias ou que sofrem de problemas
                  musculoesqueléticos.

            </p>
            <div class="go-corner" width="200">
              <div class="go-arrow" width="200">→</div>
            </div>
        </div>
    </center>
    <!-- fim do cartão 6 de serviços -->
    </section>
    <!-- fim da seção 2 -->

<!-- início da seção 3 -->
<section class="cards">
    <!-- cartão 7 de serviços -->
<center>
    <div class="card" width="200">
        <p class="card-title">Consultas Veterinárias</p>
        <p class="small-desc">Conte com nossos exames de rotina para verificar a saúde geral
             do seu animalzinho e discutir quaisquer preocupações que você possa ter em 
             relação a eles.</p>
        <div class="go-corner" width="200">
            <div class="go-arrow" width="200">→</div>
    </div>
    </div>
</center>
    <!-- fim do cartão 7 de serviços -->

    <!-- cartão 8 de serviços -->
<center>
    <div class="cardtopo" width="200">
        <p class="card-title">Vacinação</p>
        <p class="small-desc">Prestamos administração de vacinas para prevenir doenças
            comuns em animais de estimação, como raiva, parvovirose, cinomose,
            etc.</p>
        <div class="go-corner" width="200">
            <div class="go-arrow" width="200">→</div>
        </div>
    </div>
</center>
    <!-- fim do cartão 8 de serviços -->
    
    <!-- cartão 9 de serviços -->
<center>
    <div class="card" width="200">
        <p class="card-title">Cuidados Dentários</p>
        <p class="small-desc">Temos em nossa equipe, especializados em limpeza dentária,
             extrações e em tratamentos para problemas dentários, 
             que são essenciais para a saúde geral do seu pet.</p>
        <div class="go-corner" width="200">
            <div class="go-arrow" width="200">→</div>
        </div>
    </div>
</center>
    <!-- fim do cartão 6 de serviços -->
    </section>
    <!-- fim da seção 3 --> 

<section class="agendamento">
    <button href="/agenda">
        <svg viewBox="0 0 16 16" class="bi bi-instagram" fill="currentColor" height="16"
         width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M8 0C5.829 0 5.556.01
          4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927
           0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.
           01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.
           445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.
           444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.
           923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16
            10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926
            0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.
            372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 
            3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546
            .598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-
            .047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.
            28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.04
            7s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 
            1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.8
            43-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.2
            76-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.2
            4 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1
            0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.10
            9 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 
            0 1 0-5.334z"></path> </svg>
          <span>Agende aqui</span>
      </button>
</section>

<br>

<!-- início do rodapé -->
<footer>
<section class="sectionII">
    <div>
        <!-- endereço -->
        <h2 class="end">Endereço</h2>
    <p class="p2"> R. Nove de Julho, 1704 - Centro, São Carlos - SP, 13560-042</p>
    <!-- telefone -->
    <h2>Telefone</h2>
    <p class="p2">(16) 99232-6072</p>
    <!-- avaliações -->
    <h2>Avaliações</h2>
    <img class="img2" src="static/img/avaliacao.png" alt="avaliações de quatro estrelas e meia">
    </div>

    <!-- redes sociais -->
    <div class="siga">
        <h2 class="sig">Siga-nos</h2>
        <a href="https://www.facebook.com/campaign/landing.php?&campaign_id=1661784632&extra_1=s|c|320269324053|e|facebook|&placement=&creative=320269324053&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1661784632%26adgroupid%3D63686352403%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D9100673%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gad_source=1&gclid=Cj0KCQjwltKxBhDMARIsAG8KnqUr_a6fDs4EVBT7Kr6jePjJvocKkLFNB8TUQBr5DBzAdXYSshUPWXYaAoYDEALw_wcB">
           <img class="face" src="static/img/facebook.png" alt="facebook">
        </a>
        <a href="https://twitter.com/login?lang=pt">
          <img class="twitter" src="static/img/twitter.png" alt="twitter">
        </a>
        <a href="https://br.linkedin.com/">
            <img class="linkedin" src="static/img/linkedin.png" alt="linkedin">
        </a>
        <a href="https://www.instagram.com/">
           <img class="insta" src="static/img/instagram.png" alt="instagram">
        </a>
        <a href="https://www.youtube.com/">
            <img class="you" src="static/img/youtube.png" alt="youtube">
        </a>
        <br />
        <!-- logo -->
        <img class="img3" src="static/img/logorodape.png" alt="Clínica de nutrição">
    </div>
</section>
    <!-- copyright -->
<section class="direitos">
    <p class="p3">© 2024. Todos os direitos reservados.</p>
</section>
</footer>
<!-- fim do rodapé -->

</body>
</html>